<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="./Tests/bootstrap.php">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Redis Transport Bundle Functional Test Suite">
      <directory>Tests/Functional</directory>
    </testsuite>
    <testsuite name="Redis Transport Bundle Unit Test Suite">
      <directory>Tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="KERNEL_CLASS" value="HandcraftedInTheAlps\Bundle\RedisTransportBundle\Tests\Kernel"/>
    <env name="APP_ENV" value="test"/>
    <env name="REDIS_HOST" value="127.0.0.1"/>
    <env name="REDIS_PORT" value="6379"/>
  </php>
</phpunit>
